.is-scroll-disable {
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #366;
  border-radius: 10px;
  border: 3px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(55, 137, 137);
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: white;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
::placeholder {
  /* Most modern browsers support this now. */
  color: white;
}

input {
  outline: none;
}

.content {
  ul.pagination-list {
    list-style: none;
    margin-left: 0;
    margin-top: 0;

    li + li {
      margin-top: 0;
    }
  }
}

div.highlight {
  margin-bottom: 1rem;
}

@include desktop {
  .navbar-item {
    &.is-hoverable:hover {
      .navbar-dropdown {
        display: block;
      }
    }
  }
}

.contents {
  box-shadow: $box-shadow;
  padding: 1.5rem;
  margin-bottom: 3rem;
}

.adi-logo-img {
}

.adi-logo {
  display: inline-block !important;
  margin-left: 10px;
  font-weight: bold !important;
}

.latest-news-cards .card-image {
  max-height: 200px;
}

.is-font-normal {
  color: #366 !important;
  font-size: 1.3em !important;
  font-weight: 500 !important;
}

.blog-news img {
  border-radius: 5px;
}

.tag {
  font-size: 0.9em !important;
}

.tags-block {
  position: sticky;
  top: 10px;
}

#search-button {
  cursor: pointer;
  font-size: 18px;
  border: none;
  background: none;
}

// Search

#overlay-search {
  z-index: 9999 !important;
  display: none;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.is-show {
  display: block !important;
  pointer-events: all !important;
}

#search-close {
  cursor: pointer;
  position: relative;
  top: 5px;
  left: 250px;
  width: 30px;
  height: 30px;
  border: none;
  color: white;
  border-radius: 50px;
  font-weight: bold;
  background: #d53535;
}

#search-container,
#search-close-container,
#search-results-container {
  position: relative;
  top: 55px;
  max-width: 500px;
  margin: 0 auto;
}

#search-input {
  width: calc(100% - 20px);
  margin: 10px;
  padding: 12px 20px;
  font-size: 18px;
  outline: 2px solid rgb(194, 194, 194);
  border: none;
  border-radius: 30px;
  color: black;
  transition: 0.1s linear;
  background-color: white;
}

#search-input::placeholder {
  color: black;
}

#search-input:focus {
  outline: 5px solid rgb(3, 115, 243);
}

#search-results-container {
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
}

#search-results {
  overflow-y: auto;
  margin: 5px 2px;
  max-height: calc(100vh - 175px);
}

.search-item {
  margin: 8px;
  padding: 7px;
  font-size: 15px;
  border-radius: 5px;
  background-color: #366;
}

.search-item a {
  display: inline-block;
  width: 100%;
  color: white;
}

.search-item a:hover {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 650px) {
  #search-close {
    top: -5px;
    left: 0px;
  }
}

// About button
.tab-info {
  padding: 10px;
}

.tab-info-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}

.tab-info-li {
}

.tab-info a {
  display: inline !important;
  border-radius: 5px;
  border: none;
  margin: 5px;
  color: black !important;
  font-weight: bold;
  opacity: 1 !important;
  // box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.tab-info a:hover {
  box-shadow: inset 0 0 5px 2px rgba(0, 0, 0, 0.35);
}

.tab-info li {
  display: flex;
  justify-content: center;
}

/* TAGS BLOG */

.tag-blog-li {
  border-bottom: 2px solid #f1f1f1;
}

.tag-blog {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 10px 0;
}

.tag-blog .count {
  font-weight: bold;
}

.card-block {
  padding: 15px;
}

article.tile.is-child.box,
.card {
  border-radius: 12px !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 1px !important;
  maargin: 0 5px 30px !important;
  background: #f8fafd;
}

// article.tile.is-child.box:hover,
// .card:hover {
// cursor: pointer;
//   background: #e5edf9;
// }

.card-content {
  padding: 1rem 1.5rem !important;
}

.button.is-primary {
  padding: 0 15px;
  border-radius: 20px !important;
}

.card-footer-item {
  padding: 8px 12px !important;
}

/* TAGS PAGE */

.tags-page {
  padding: 10px 15px;
}

.tag-name {
  font-size: 18px;
  font-weight: bold;
}

.tags-page-tag {
  list-style-type: none;
  padding: 5px 0;
}

.tags-page-li {
  margin: 5px;
  font-size: 15px;
}

.tags-page-li:hover {
  text-decoration: underline;
}

// .card-flex {
//   display: flex;
//   flex-wrap: wrap;
// }

.card-flex > .card {
  margin-bottom: 20px;
}

// .card-flex > .card-image{
//   height: 250px;
// }

//////// NEW UI

.adi-logo-img {
  filter: invert(1);
}

.hero.is-medium.is-bold.is-primary {
  margin: 0 10px 10px 10px !important;
  border-radius: 10px !important;
}

.navbar {
  min-height: 3.45rem !important;
}

.navbar.is-primary {
  background-color: transparent !important;
  // background-color: #f3f6fc !important;
}

.navbar-brand {
  margin-left: 4px;
}

.navbar-item-logo {
  border-radius: 5px !important;
  margin: 4px 0 !important;
}

.navbar-link {
  color: #444746 !important;
  font-weight: 700 !important;
  border-radius: 5px !important;
  margin: 4px 0 !important;
  background: transparent !important;
}

.navbar-item {
  color: #444746 !important;
}

.navbar-item:hover .adi-logo {
  color: white;
}
.navbar-item:hover .adi-logo-img {
  filter: invert(0);
}

.navbar-link:hover {
  color: white !important;
  background-color: #2b5555 !important;
}

.navlink::after {
  content: "" !important;
  width: 0px !important;
  display: none !important;
}

.navbar-link:not(.is-arrowless) {
  padding-right: 12px !important;
}

.navbar-burger,
.navbar-search {
  border-radius: 5px !important;
  color: #444746 !important;
}

.navbar-search {
  margin: 4px;
}

.navbar-burger:hover,
.navbar-search:hover {
  color: white !important;
  background-color: #2b5555 !important;
}

.fa-chevron-down {
  padding-left: 10px;
}

// .navbar.is-primary .navbar-link:hover {
//   background: rgb(235, 235, 235) !important;
// }

// .navbar-link:focus {
//   background: rgb(235, 235, 235) !important;
// }

// .navbar-start .navbar-item:hover {
//   text-decoration: dotted;
// }

.navbar.is-primary .navbar-start .navbar-link::after,
.navbar.is-primary .navbar-end .navbar-link::after {
  border-color: transparent !important;
}

.hero.is-primary .title {
  color: #fff;
  text-shadow: 1px 1px 10px black !important;
}

.hero.is-primary .subtitle {
  color: #fff;
  text-shadow: 1px 1px 10px black !important;
}

